@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Kdam+Thmor+Pro&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --main-color: #eff4fc;
  --second-color: #e9f0ff;
  --third-color: #b7bec4;
  --fourth-color: #9ba3a9;
  --fifth-color: #808385;

  --primary-text: "Kdam Thmor Pro", sans-serif;
  --secondary-text: "Kanit", sans-serif;
  --third-text: "Press Start 2P", sans-serif;

  --primary-text-color: #333333;
  --secondary-text-color: #f0f0f0;
  --third-text-color: #808080;
}

body {
  background-color: var(--second-color);
  font-family: var(--primary-text);
}

/* navbar styles */
.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-bottom: 2px solid var(--fourth-color);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.navbar__container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-family: var(--primary-text);
  font-size: 1.8rem;
}

.navbar__logo a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar__options ul {
  height: inherit;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar__options ul li {
  list-style: none;
}

.navbar__options ul li i {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.navbar__options ul li:hover i {
  transform: scale(1.1);
}

/* favorites container */
.main {
  height: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__noPokemonContainer {
  text-align: center;
  font-style: italic;
  opacity: 50%;
}

.main__favoritesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(400px + 16px);
  width: calc((320px * 3));
  padding: 8px;
  gap: 8px;
  width: 80%;
  border: 2px solid var(--fifth-color);
  border-radius: 12px;
  margin: 0 auto;
  background-color: var(--second-color);
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.main__favoritesContainer__pokemon {
  height: 400px;
  border: 2px solid var(--fourth-color);
  border-radius: 8px;
  padding: 4px;
}

.main__favoritesContainer__pokemon > div:last-child {
  border: 2px solid var(--fifth-color);
}

.main__favoritesContainer__pokemon__top {
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: center;
}

#deleteButton {
  font-size: 16px;
  color: rgb(195, 71, 71);
  cursor: pointer;
  transition: transform 0.1s ease;
  margin-left: auto;
}

#deleteButton:hover {
  transform: scale(1.1);
}

#pokeGif {
  height: 65px;
  width: 70px;
}

.main__favoritesContainer__pokemon__top__pokeIdName {
  font-size: 12px;
  text-align: center;
}

.pokeName {
  border: 2px solid var(--fifth-color);
  padding: 2px 8px 2px 8px;
  background-color: var(--main-color);
  border-radius: 50px;
  font-family: var(--third-text);
}

.main__favoritesContainer__pokemon__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  height: 60%;
  width: 100%;
  padding: 8px 4px 4px 4px;
  font-family: var(--third-text);
  border: 2px solid var(--fifth-color);
  border-radius: 8px;
}

.main__favoritesContainer__pokemon__bottom__pokeTypes {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.main__favoritesContainer__pokemon__bottom__pokeStats {
  font-size: 10px;
  height: 100%;
  width: 100%;
}

.pokeTypes {
  border: 2px solid var(--primary-text-color);
  border-radius: 16px;
  padding: 4px 16px;
  width: fit-content;
  font-size: 10px;
  text-align: center;
}

.pokeStatsInfo {
  margin-bottom: 12px;
}

p.pokeStatsInfo:last-of-type {
  margin-bottom: 0;
}

.pokeStatsName {
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  height: 60px;
  background-color: var(--main-color);
  border-top: 2px solid var(--fourth-color);
}

.footer__iconsContainer {
  display: flex;
  gap: 12px;
}

.icons {
  font-size: 24px;
  color: var(--primary-text-color);
  transition: transform 0.3s ease;
}

.icons:hover {
  transform: scale(1.1);
}

.footer__nameContainer {
  font-size: 8px;
}

/* responsive */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main__favoritesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main__favoritesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 767px) {
  .navbar__container {
    justify-content: center !important;
  }

  .navbar__logo {
    display: none;
  }
  .main__favoritesContainer {
    grid-template-columns: 1fr;
  }
}
