@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Kdam+Thmor+Pro&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #eff4fc;
  --second-color: #e9f0ff;
  --third-color: #b7bec4;
  --fourth-color: #9ba3a9;
  --fifth-color: #808385;

  --primary-text: "Kdam Thmor Pro", sans-serif;
  --secondary-text: "Kanit", sans-serif;
  --third-text: "Press Start 2P", sans-serif;

  --primary-text-color: #333333;
  --secondary-text-color: #f0f0f0;
  --third-text-color: #808080;
}

body {
  background-color: var(--second-color);
  font-family: var(--primary-text);
}

/* navbar styles */
.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-bottom: 2px solid var(--fourth-color);
  position: fixed;
  top: 0;
}

.navbar__container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-family: var(--primary-text);
  font-size: 1.8rem;
}

.navbar__logo a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar__options ul {
  height: inherit;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar__options ul li {
  list-style: none;
}

.navbar__options ul li i {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.navbar__options ul li:hover i {
  transform: scale(1.1);
}

.main {
  height: 800px;
  margin-top: 80px;
}

.main__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.main__container__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  height: 20%;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}

.main__container__searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
}

.main__container__searchContainer input {
  height: 40px;
  width: 100%;
  padding: 8px;
  outline: none;
  font-family: var(--primary-text);
  border: 1.5px solid var(--fourth-color);
  border-radius: 4px;
}

.main__container__searchContainer button {
  height: 30px;
  font-family: var(--primary-text);
  border: 1.5px solid var(--fifth-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--third-color);
  cursor: pointer;
}

.main__container__searchNote {
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  height: 40px;
  width: 100%;
  border: 1.5px solid #3498db;
  border-radius: 4px;
  background-color: #f0f7fb;
}

span.bold {
  font-weight: bold;
}

.main__container__searchError {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(229, 64, 64);
  height: 40px;
  min-width: 200px;
  width: 100%;
  color: var(--primary-text-color);
  font-family: var(--primary-text);
  background-color: rgb(231, 145, 145);
  border-radius: 4px;
  visibility: hidden;
}

.main__container__errorMessage {
  font-size: 14px;
}

.main__container__display {
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  padding: 1rem;
  height: 400px;
  display: none;
}

.main__container__display > div {
  border-radius: 8px;
  border: 2px solid var(--fifth-color);
}

.main__container__displayPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;
  background: repeating-linear-gradient(
      0deg,
      var(--third-color),
      var(--third-color) 2px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      var(--third-color),
      var(--third-color) 2px,
      transparent 1px,
      transparent 20px
    );
}

#pokePic {
  height: 200px;
  width: 250px;
}

.main__container__displayPokemon__name {
  border: 2px solid var(--fifth-color);
  padding: 8px;
  font-size: 1.5rem;
  font-family: var(--third-text);
  background-color: var(--main-color);
  border-radius: 50px;
}

.main__container__displayStats {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

#favoriteButton {
  margin-left: auto;
  font-size: 24px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#favoriteButton:hover {
  transform: scale(1.1);
}

.main__container__displayStats__pokeGif {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#pokeGif {
  height: 150px;
  width: 200px;
}

.main__container__displayStats__pokeStats {
  height: 100%;
  width: 100%;
  padding: 12px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  font-family: var(--third-text);
  border: 2px solid var(--fifth-color);
  border-radius: 12px;
}

.main__container__displayStats__pokeStats__stats {
  text-align: left;
  padding-top: 8px;
  font-size: 12px;
}

.pokeStatsInfo {
  margin-bottom: 12px;
}

p.pokeStatsInfo:last-of-type {
  margin-bottom: 0;
}

.pokeStatsName {
  font-weight: 600;
}

.main__container__displayStats__pokeStats__type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.pokeTypes {
  border: 2px solid var(--primary-text-color);
  border-radius: 16px;
  padding: 4px 16px;
  width: fit-content;
  font-size: 20px;
  text-align: center;
}

.footer {
  height: 60px;
  background-color: var(--main-color);
  border-top: 2px solid var(--fourth-color);
}
/* responsive styles */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main__container__searchNoteMessage,
  .main__container__errorMessage {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main__container__searchNoteMessage,
  .main__container__errorMessage {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .main__container__searchNoteMessage,
  .main__container__errorMessage {
    font-size: 12px;
  }
}
