@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Kdam+Thmor+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #eff4fc;
  --second-color: #e9f0ff;
  --third-color: #b7bec4;
  --fourth-color: #9ba3a9;
  --fifth-color: #808385;

  --primary-text: "Kdam Thmor Pro", sans-serif;
  --secondary-text: "Kanit", sans-serif;

  --primary-text-color: #333333;
  --secondary-text-color: #f0f0f0;
  --third-text-color: #808080;
}

body {
  background-color: var(--second-color);
  font-family: var(--primary-text);
}

/* navbar styles */
.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-bottom: 2px solid var(--fourth-color);
  position: fixed;
  top: 0;
}

.navbar__container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-family: var(--primary-text);
  font-size: 1.8rem;
}

.navbar__logo a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar__options ul {
  height: inherit;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar__options ul li {
  list-style: none;
}

.navbar__options ul li i {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.navbar__options ul li:hover i {
  transform: scale(1.1);
}

.main {
  height: 100vh;
  margin-top: 80px;
}

.main__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.main__container__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  height: 20%;
}

.main__container__searchNote {
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  height: 40px;
  width: 50%;
  border: 1.5px solid #3498db;
  border-radius: 4px;
  background-color: #f0f7fb;
}

span.bold {
  font-weight: bold;
}

.main__container__searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  width: 50%;
  margin: 0 auto;
}

.main__container__searchContainer input {
  height: 40px;
  width: 100%;
  padding: 8px;
  outline: none;
  font-family: var(--primary-text);
  border: 1.5px solid var(--fourth-color);
  border-radius: 4px;
}

.main__container__searchContainer button {
  height: 30px;
  font-family: var(--primary-text);
  border: 1.5px solid var(--fifth-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--third-color);
  cursor: pointer;
}

.main__container__searchError {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(229, 64, 64);
  height: 30px;
  width: 50%;
  color: var(--primary-text-color);
  font-family: var(--primary-text);
  background-color: rgb(231, 145, 145);
  border-radius: 4px;
  display: none;
}

/* TODO: Container for pokemon display */
.main__container__display {
  border: 1px solid red;
  display: none;
}

.main__container__displayPokemon {
  border: 1px solid red;
}

.main__container__displayStats {
  border: 1px solid red;
}

.footer {
  height: 60px;
  background-color: var(--main-color);
  border-top: 2px solid var(--fourth-color);
}
