@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Kdam+Thmor+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #eff4fc;
  --second-color: #e9f0ff;
  --third-color: #b7bec4;
  --fourth-color: #9ba3a9;
  --fifth-color: #808385;

  --primary-text: "Kanit", sans-serif;
  --secondary-text: "Kdam Thmor Pro", sans-serif;

  --primary-text-color: #333333;
  --secondary-text-color: #f0f0f0;
  --third-text-color: #808080;
}

body {
  background-color: var(--second-color);
}

/* navbar styles */
.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-bottom: 1px solid #8080807e;
}

.navbar__container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-family: var(--secondary-text);
  font-size: 1.8rem;
}

.navbar__logo a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar__options ul {
  height: inherit;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar__options ul li {
  list-style: none;
}

.navbar__options ul li i {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.navbar__options ul li:hover i {
  transform: scale(1.1);
}

.main {
  height: 100vh;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main__container {
  border: 1px solid red;
}

.main__aside {
  border: 1px solid red;
}

.footer {
  height: 60px;
  border: 1px solid red;
}
